<%- include('../partials/header.ejs')%>
<div class="content">
    <br>
    <br>
    <h3><u> Edit form for an existing item </u></h3>
        <form  action="/trades/<%=trade.id%>?_method=PUT" id="formpage" method='POST' >
            <table>
                <tr>
                    <td>Title: </td> 
                    <td><input type="text" id="fname" name="title" value = "<%= trade.title%>"  ><br> </td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td><input type="text" id="lname" name="category" value = "<%= trade.category%>" ><br></td>
                </tr>
                <tr>
                    <td>Details: </td>
                    <td><input type="text" id="details" name="Details" value = "<%= trade.Details%>"  ><br> </td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td><input type="text" id="status" name="status" value = "<%= trade.status%>" ><br></td>
                </tr>
                <tr>
                    <td>Image URL:</td>
                    <td><input type="text" id="image" name="image" value="<%=trade.image%>" ><br></td>
                </tr>
                   
            </table>    
            <input type="submit" value="Submit">
        </form>
    <img id="elec" src="<%=trade.image%>" alt="<%=trade.title %>" width="400" height="350"> 
</div> 
<%- include('../partials/footer.ejs')%>